<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link href="/src/app/login/login.component.css">
  </head>
  <body>

    <div class="login-box">
      <img src="../../assets/img/utemlogo.jpg" class="avatar" alt="Logo Utem">
      <h1>Inicia sesión</h1>

      <form>
        <!-- USERNAME INPUT -->
        <label for="username">Rut</label>
        <input type="text" #username name="username" id="username" placeholder="Ingresa tu rut : 18990554">
        <!-- PASSWORD INPUT -->
        <label for="password">Contraseña</label>
        <input type="password" #password name="password" placeholder="Ingresa contraseña">
        <button (click)="logIn(username.value, password.value)" class='bt mat-raised-button' type="submit"  id="login-button" >Iniciar sesión</button>
        <a href="#" (click)="forgot(username.value)">¿Olvido su contraseña?</a><br>
      </form>
    </div>
  </body>
</html>